.navbar {
    max-width: var(--page-max-width);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    margin-right: 0px;
    z-index: 15;
}



.menu {
    display: flex;
}

.menu li {
    padding: 1rem;
}

.menu a {
    font-size: 12px;

}

.menu_btn {
    padding: 1rem;
}


@media screen and (max-width: 740px) {
    .navbar {
        display: block;
        margin-bottom: 0px
    }

    .navbar_active {
        margin-bottom: 250px
    }

    .menu {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 0px;
        background-color: var(--nav-color);
        transition: top 0.2s;
    }

    .menu_inactive {
        top: -300px;
    }

    .menu_active {
        top: 0
    }

    .menu a {
        font-size: 18px;
        font-weight: 500;
    }

    .upper_bar {
        display: flex;
        justify-content: space-between;


    }
}