.navbar {
    max-width: var(--page-max-width);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    margin-right: 0px;
}



.menu {
    display: flex;    
}


.menu li {
    padding: 1rem;
}

.menu a {
    font-size: 12px;
    
}

.menu_btn {
    padding: 1rem;
}


@media screen and (max-width: 740px) {
    .navbar {
        display: block;
        height: fit-content;
        align-items: unset;
        transition: left 1s;

    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        text-align: center;
        height: fit-content;
        padding-top: 0px;
        background-color: var(--nav-color);
    }

    .menu a {
        font-size: 18px;
        font-weight: 500;
    }

    .upper_bar{
        display: flex;
        justify-content: space-between;

    }
    
}