.content {
    max-width: var(--page-max-width);
    padding-bottom: 75px;
}

.htext {
    padding-top: 40px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
