.content {
    max-width: var(--page-max-width);
    padding-bottom: 75px;
}

.htext {
    padding-top: 40px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--page-max-width);

}

@media screen and (max-width: 1440px) {
    .cards {
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: unset;
        width: 740px;

    }
}

@media screen and (max-width: 740px) {
    .cards {
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: unset;
        width: 400px;
    }

    .htext {
        margin-left: 50px;
    }
}


@media screen and (max-width: 400px) {
    .cards {
        width: 360px;
    }
}

@media screen and (max-width: 360px) {
    .cards {
        width: 200px;
    }
}