.footer {
    height: 100px;
    max-width: var(--page-max-width);
    background-color: var(--nav-color);

}

.content {
    max-width: var(--page-max-width);
    display: flex;
    font-size: 13px;
    justify-content: space-between;

}

.content>div {
    position: relative;

    flex: 1 0 auto;
    margin-top: 18px;
    color: var(--white-font-color);
    padding-left: 30px;

}

.contact {
    display: inline-block;
    text-align: left;
}

.htext {
    padding-top: 60px;
    text-align: center;
}

.modal_content {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--nav-color);
    font-weight: 300;
    justify-content: center;
    text-align: left;
    font-size: 13px;
    top: 5%;
    padding-left: 30px;
    padding-right: 30px;
}

.rodo_btn {
    cursor: pointer;
    font-weight: 500;
}

.rodo_btn:hover {
    opacity: 0.65;
}

.rodo_btn:active {
    transform: translateY(1px);
}

@media screen and (max-width: 420px) {
    .footer {
        height: fit-content;
        padding-bottom: 20px;
    }

    .content {
        flex-direction: column;
    }
}