:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  --bg-color: #F5E9FF;
  --nav-color: #2F2E41;
  --page-max-width: 1430px;
  --white-font-color: #d8dada;
  background-color: var(--bg-color);
  max-width: var(--page-max-width);
  margin: 0 auto;
  display: block;

}

* {
  line-height: 1.5;


  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0px;
  margin-bottom: 10px;
}

header {
  margin-right: -30px;
}

input {
  padding: 9px;
  text-align: center;
  border: unset;
  border-radius: 4px;
}

input::placeholder {
  opacity: 0.6;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px;
  min-height: 200px;
  border: unset;
  border-radius: 4px;
  resize: none;

}

textarea::placeholder {
  opacity: 0.6;
}

button {
  padding: 6px 20px;
  text-transform: uppercase;
  border: unset;
  border-radius: 3px;
  color: var(--white-font-color);
  background-color: var(--nav-color);
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

button:active {
  transform: translateY(2px);
}

ul {
  list-style-type: none;
}

li a {
  cursor: pointer;
}

li a:hover {
  opacity: 0.8;
}


a {
  font-weight: 500;
  color: var(--white-font-color);
  text-decoration: inherit;
}

.banner-text {
  color: var(--nav-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 1px 1px 10px #00000040;
}


@media screen and (max-width: 740px) {
  .banner-text {
    font-size: 20px;
  }
}