.container {
    position: relative;
}

.banner {
    max-width: var(--page-max-width);
    height: 238px;
}

.peopleimg {
    position: absolute;
    margin-right: 10px;
    top: -100px;
    left: 70%;
    opacity: 0.45;
    z-index: 1;
}

.text_container {
    position: absolute;
    z-index: 5;
}

.htext {
    padding-left: 60px;
    padding-top: 75px;
}

.ltext {
    font-size: 0.75rem;
    font-weight: 500;
}

.description {
    padding-left: 20px;
}

.button {
    align-items: center;
    margin-top: 10px;
    z-index: 10;
}

.quiz_container {
    overflow: auto;
    padding: 0px 20px;
    margin-top: 20px;
    height: 0px;
    transition: height 0.5s ease-in-out;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.qc_active {
    height: 200px;

    /* transition: margin-bottom 1.5s;  */

}

.quiz_button {
    position: absolute;
    width: 50%;
    height: fit-content;
    padding-top: 9px;
    padding-bottom: 9px;
    top: 103%;
    bottom: 0;
    left: 25%;
    right: 50%;
    background-color: rgba(151, 53, 207, 0.768);
    animation: blinkingBtn 3s linear, opacityBtn 1s linear, leftSlideAnimation 1s linear;
    animation-iteration-count: infinite, 1, 1;
}


@keyframes blinkingBtn {
    0% {
        background-color: rgba(151, 53, 207, 0.868);
    }
    50% {
        background-color: rgba(151, 53, 207, 0.568);
    }
    100% {
        background-color: rgba(151, 53, 207, 0.868);
    }
}

@keyframes opacityBtn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;;
    }
}

@keyframes leftSlideAnimation {
    0% {
        right: -20%;
    }
    100% {
        right: 3%;
    }
}

@media screen and (max-width: 1250px) {
    .peopleimg {
        left: 45%;
    }
}

@media screen and (max-width: 720px) {
    .peopleimg {
        left: -20%;
    }

    .htext {
        margin-right: 70px;
        padding-top: 3rem
    }

}

@media screen and (max-width: 740px) {
    .quiz_container {
        overflow-y: scroll;
        width: auto;

    }

    .quiz_button {
        margin-left: 1px;
    }

}