.questions {
    display: flex;
    flex-wrap: wrap;
    color: var(--nav-color);
    position: relative;
}

.questions>div {
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    width: auto;
    text-align: center;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 6px 10px;
    -webkit-box-shadow: 8px 9px 9px 1px rgba(206, 212, 231, 1);
    -moz-box-shadow: 8px 9px 9px 1px rgba(206, 212, 231, 1);
    box-shadow: 8px 9px 9px 1px rgba(206, 212, 231, 1);
}

.questions>div:hover {
    opacity: 0.9;
}

.modal_content {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--nav-color);
    font-weight: 300;
    justify-content: center;
    text-align: left;
    font-size: 13px;
    padding: 40px 70px;
    color: black;
}

.modal_question {
    margin-bottom: 5px;
    font-weight: 600;
}

.modal_answers {
    margin-bottom: 40px;
}

@media screen and (max-width: 460px) {
    .questions>div {
        width: auto;
        font-size: 13px;
    }

    .modal_content {
        padding: 20px 30px;
    }
}