:root {
    --form-input-width: 400px;
}

form {
    justify-content: center;
    margin: auto;
    padding-left: 100px;
    padding-top: 120px;
    margin: auto;
    position: absolute;
    align-items: center;
}

form>div {
    margin-bottom: 10px;

}

form>div>div {
    display: block;

}

input,
textarea {
    width: 400px;
}

label {
    display: block;
    color: rgb(220, 240, 246);
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2px;
}


.htext {
    position: absolute;
    padding-left: 60px;
    padding-top: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%
}

.modal_content {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--nav-color);
    font-weight: 300;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    top: 25%;
    padding-left: 40px; 
    padding-right: 40px;
}

.modal_content_title {
    font-size: 16px;
    font-weight: 400;

}

@media screen and (max-width: 950px) {
    form {
        right: unset;
        padding-left: 40px;

    }
}

@media screen and (max-width: 720px) {
    form {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 500px;
    }

    input,
    textarea {
        align-items: center;
        width: 100%;
    }
}